Images/Food class icons/starcy veggie.svg
Images/Food class icons/bread.svg
Images/Food class icons/cheese.svg
Images/Food class icons/condiment.svg
Images/Food class icons/curd.svg
Images/Food class icons/dal.svg
Images/Food class icons/Frame 1.png
Images/Food class icons/Frame 1000005205.svg
Images/Food class icons/fruit.svg
Images/Food class icons/meat curry.svg
Images/Food class icons/meat.svg
Images/Food class icons/milk.svg
Images/Food class icons/nut.svg
Images/Food class icons/pickle.svg
Images/Food class icons/roti.svg
Images/Food class icons/salad.svg
Images/Food class icons/sauce.svg
Images/Food class icons/side dish.svg
Images/Food class icons/snack.svg
